/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .header {
    text-align: center;
    padding: 20px;
    /* border-bottom: 1px solid #ddd; */
  }
  
  .search-bar {
    margin-top: 20px;
  }
  
  input[type="text"] {
    width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #c3c6ca;
    color: #000000;
  }
  
  button:hover {
    background-color: #a3a5a9;
  }
  
  .footer {
    text-align: center;
    margin-top: 0px;
    padding: 10px;
  }
  
  img {
    margin-top: 250px;
    width: 250px;
    margin-left:auto;
    margin-right:auto;
  }